<p-card styleClass="shadow-6"  >
  <p-table  [value]="centrales"
            [tableStyle]="{ 'min-width': '50rem' }"
            [rowHover]="true"
            [paginator]="true"
            [rows]="3"
            [rowsPerPageOptions]="[2,4,6]"
            [loading]="chargedCentrals" >
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Img</th>
        <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
        <th>Provincia</th>
        <th>Tipo</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-central>
      <tr>
        <td>{{ central.id }}</td>
        <td>{{ central.imagen }}</td>
        <td>{{ central.nombre }}</td>
        <td>{{ central.provincia }}</td>
        <td>{{ central.tipo}}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
